{% load i18n %}
{% load bootstrap3 %}

<div class="form-horizontal">
    {% bootstrap_form form layout='horizontal' %}
    <p>
        {% blocktrans trimmed with creditor=settings.creditor_name %}
            By submitting this mandate form, you authorise (A) the Creditor <strong>{{ creditor }}</strong> to
            send instructions to your bank to debit your account and (B) your bank to debit your account in
            accordance with the instructions from the Creditor.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with date=date|date:"SHORT_DATE_FORMAT" %}
            You hereby agree that the amount will be withdrawn from your bank account <strong>on or shortly after
            {{ date }}</strong>.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            As part of your rights, you are entitled to a refund from your bank under the terms and conditions of
            your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which
            your account was debited. Your rights are explained in a statement that you can obtain from your bank.
        {% endblocktrans %}
    </p>
    <p>
       {% blocktrans trimmed with id=settings.creditor_id %}
           The creditors ID is <strong>{{ id }}</strong>. Your mandate reference will be sent to you via email after
           your order has been submitted.
       {% endblocktrans %}
    </p>

</div>
