{% load i18n %}
{% load bootstrap3 %}

{% if order.status == "p" %}
    {% with order.sepaexportorder_set.last as seo %}
        {% if seo %}
            <p>
                {% blocktrans trimmed with date=seo.export.datetime|date:"SHORT_DATETIME_FORMAT" %}
                    This order has been paid via SEPA debit. It was part of the export file exported at {{ date }}.
                {% endblocktrans %}
                <a class="btn btn-xs btn-default" href="{% url "plugins:pretix_sepadebit:orders" organizer=request.event.organizer.slug event=request.event.slug id=seo.export.id %}">
                    <span class="fa fa-list"></span> {% trans "View export file" %}
                </a>
            </p>
        {% else %}
            <p>{% blocktrans trimmed %}
                This shall be paid via SEPA debit, but has not yet been included in any SEPA file export.
            {% endblocktrans %}</p>
        {% endif %}
    {% endwith %}
{% else %}
    <p>{% blocktrans trimmed %}
        This order has been planned to be paid via SEPA debit but has been marked as unpaid again (or could never be
        marked as paid).
    {% endblocktrans %}</p>
{% endif %}

{% if payment_info %}
    <dl class="dl-horizontal">
        <dt>{% trans "IBAN" %}</dt>
        <dd>{{ payment_info.iban }}</dd>
        <dt>{% trans "BIC" %}</dt>
        <dd>{{ payment_info.bic }}</dd>
        <dt>{% trans "Account name" %}</dt>
        <dd>{{ payment_info.account }}</dd>
        <dt>{% trans "Mandate reference" %}</dt>
        <dd>{{ payment_info.reference }}</dd>
        <dt>{% trans "Due date" %}</dt>
        <dd>{{ payment_due_date }}</dd>
    </dl>
{% endif %}
