{% extends basetpl %}
{% load i18n %}
{% load money %}
{% load static %}
{% block title %}{% trans "SEPA debit" %}{% endblock %}
{% block content %}
    <h1>{% trans "SEPA debit" %}</h1>
    {% if request.event.testmode %}
        <div class="alert alert-warning">
            {% trans "In test mode, your exports will only contain test mode orders." %}
        </div>
    {% elif request.event %}
        <div class="alert alert-info">
            {% trans "If you want, you can now also create SEPA debit files for multiple events combined." %}
            <strong>
                <a href="{% url "plugins:pretix_sepadebit:export" organizer=request.organizer.slug %}">
                    {% trans "Go to organizer-level exports" %}
                </a>
            </strong>
        </div>
    {% endif %}
    {% if request.event %}
        <div class="alert alert-info">
            {% trans "Refunds for SEPA debit transactions are grouped with bank transfer refunds." %}
            <strong>
                <a href="{% url "plugins:banktransfer:refunds.list" organizer=request.organizer.slug event=request.event.slug %}">
                    {% trans "Go to refund exports" %}
                </a>
            </strong>
        </div>
    {% else %}
        <div class="alert alert-info">
        {% trans "Refunds for SEPA debit transactions are grouped with bank transfer refunds." %}
        <strong>
            <a href="{% url "plugins:banktransfer:refunds.list" organizer=request.organizer.slug %}">
                {% trans "Go to organizer-level refund exports" %}
            </a>
        </strong>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Create new export file" %}</h3>
        </div>
        <div class="panel-body">
            <p>
                {% blocktrans trimmed %}
                    <strong>{{ num_new }}</strong> SEPA debit orders have been placed and are not yet exported as Sepa XML.
                {% endblocktrans %}
            </p>
            {% if num_new > 0 %}
                <form action="" method="post" class="form-inline">
                    {% csrf_token %}
                    {% if num_new > 1 %}
                        <p>
                            <label class="checkbox">
                                <input type="checkbox" name="split-by-collection-date" value="on">
                                {% trans "Create multiple files if the debits have different collection dates (required for some banks)" %}
                            </label>
                        </p>
                    {% endif %}
                    <p>
                        <button class="btn btn-primary btn-lg">
                            {% trans "Create new export file" %}
                        </button>
                    </p>
                </form>
            {% endif %}
        </div>
    </div>
    <h2>{% trans "Exported XML files" %}</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{% trans "Export date" %}</th>
                <th>{% trans "Number of orders" %}</th>
                <th>{% trans "Total amount" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for export in exports %}
                <tr>
                    <td>
                        {{ export.datetime|date:"SHORT_DATETIME_FORMAT" }}
                        {% if export.testmode %}
                            <span class="label label-warning">{% trans "TEST MODE" %}</span>
                        {% endif %}
                    </td>
                    <td>{{ export.cnt }}</td>
                    <td>
                        {% if export.currency %}
                            {{ export.sum|default_if_none:0|money:export.currency }}
                        {% else %}
                            {{ export.sum|default_if_none:0|money:export.event.currency }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if export.event %}
                            <a class="btn btn-default" href="{% url "plugins:pretix_sepadebit:orders" organizer=request.organizer.slug event=export.event.slug id=export.id %}">
                                <span class="fa fa-list"></span> {% trans "Orders" %}
                            </a>
                            <a class="btn btn-primary" href="{% url "plugins:pretix_sepadebit:download" organizer=request.organizer.slug event=export.event.slug id=export.id %}">
                                <span class="fa fa-download"></span> {% trans "Download XML" %}
                            </a>
                        {% else %}
                            <a class="btn btn-default" href="{% url "plugins:pretix_sepadebit:orders" organizer=request.organizer.slug id=export.id %}">
                                <span class="fa fa-list"></span> {% trans "Orders" %}
                            </a>
                            <a class="btn btn-primary" href="{% url "plugins:pretix_sepadebit:download" organizer=request.organizer.slug id=export.id %}">
                                <span class="fa fa-download"></span> {% trans "Download XML" %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">
                        {% trans "No exports have been created yet." %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
