{% extends basetpl %}
{% load i18n %}
{% load money %}
{% load static %}
{% block title %}{% trans "SEPA export" %}{% endblock %}
{% block content %}
    <h1>
        {% blocktrans with date=export.datetime|date:"SHORT_DATETIME_FORMAT" %}SEPA export: {{ date }}{% endblocktrans %}
        {% if export.event %}
            <a class="btn btn-default" href="{% url "plugins:pretix_sepadebit:download" organizer=request.organizer.slug event=export.event.slug id=export.id %}">
                <span class="fa fa-download"></span> {% trans "Download XML" %}
            </a>
        {% else %}
            <a class="btn btn-default" href="{% url "plugins:pretix_sepadebit:download" organizer=request.organizer.slug id=export.id %}">
                <span class="fa fa-download"></span> {% trans "Download XML" %}
            </a>
        {% endif %}
        {% if export.testmode %}
            <span class="label label-warning">{% trans "TEST MODE" %}</span>
        {% endif %}
    </h1>
    <h2>{% trans "Included orders" %}</h2>
    <span>
        {% blocktrans trimmed with currency=request.event.currency total=total %}
            Total amount: {{ total }} {{ currency }}
        {% endblocktrans %}
    </span>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{% trans "Order" %}</th>
                <th>{% trans "Payment" %}</th>
                <th>{% trans "Mandate date" %}</th>
                <th>{% trans "Associated invoices" %}</th>
                <th class="text-right">{% trans "Payment amount" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for seo in seorders %}
                <tr>
                    <td><strong><a href="{% url "control:event.order" event=seo.order.event.slug organizer=request.organizer.slug code=seo.order.code %}">
                        {{ seo.order.code }}
                    </a></strong></td>
                    <td>{{ seo.payment.full_id }}</td>
                    <td>
                        {% if seo.migrated %}
                            {{ seo.order.datetime|date:"SHORT_DATETIME_FORMAT" }}
                        {% else %}
                            {{ seo.payment.created|date:"SHORT_DATETIME_FORMAT" }}
                        {% endif %}
                    </td>
                    <td>
                        {% for i in seo.order.invoices.all %}
                            <a href="{% url "control:event.invoice.download" invoice=i.pk event=seo.order.event.slug organizer=request.organizer.slug %}">
                                {{ i.number }}</a>{% if forloop.revcounter0 > 0 %},{% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-right">
                        {% if export.currency %}
                            {{ seo.amount|money:export.currency }}
                        {% else %}
                            {{ seo.amount|money:export.event.currency }}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        {% trans "No orders have been part of this export." %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
