{% extends basetpl %}
{% load i18n %}
{% load money %}
{% load static %}
{% block title %}{% trans "SEPA export" %}{% endblock %}
{% block content %}
    <h1>
        {% blocktrans with date=export.datetime|date:"SHORT_DATETIME_FORMAT" %}SEPA export:
            {{ date }}{% endblocktrans %}
        {% if export.testmode %}
            <span class="label label-warning">{% trans "TEST MODE" %}</span>
        {% endif %}
    </h1>
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <p>{% blocktrans %}Are you sure you want to revert the SEPA file export?{% endblocktrans %}</p>
        <p>{% blocktrans %}The payments will be marked as unexported again.{% endblocktrans %}</p>
        <p><strong>{% blocktrans %}Only do this if you did not submit the file to your bank.{% endblocktrans %}</strong></p>
        <div class="form-group submit-group">
            {% if export.event %}
                <a class="btn btn-default btn-cancel" href="{% url "plugins:pretix_sepadebit:export" organizer=request.organizer.slug event=export.event.slug %}">
                    {% trans "Cancel" %}
                </a>
            {% else %}
                <a class="btn btn-default btn-cancel" href="{% url "plugins:pretix_sepadebit:export" organizer=request.organizer.slug %}">
                    {% trans "Cancel" %}
                </a>
            {% endif %}
            <button type="submit" class="btn btn-danger btn-save">
                {% trans "Delete" %}
            </button>
        </div>
    </form>
{% endblock %}
